/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin:0;
  padding:0;
}

.ot-logo{
  max-width: 100%;
  max-height:100%;
}

#anchor-hidden{
	border: 0;
	clip: rect(0 0 0 0);
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 0;
}

/* Dimensions main container*/
#grid-container {
  display: grid;
  width: 100%;
  grid-template-columns:auto;
  grid-template-rows: 35vh 65vh 10vh;
}

/* Header section*/

#header{
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px  solid #037bfc;
  max-width:100%;
}

li {
    list-style-type: none;
    text-align: center;
}

a{
  text-decoration: none;
}
#ot-logo-side{
  height:20%;
  width:25%;
}

.ot-module{
  height:80%;
  width: 60%;
}

#items{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width:100%;
  padding:0;
  overflow: auto;
}

/*Footer Section */

#footer{
  display: flex;
  justify-content: space-between;
  border-top: 2px  solid #037bfc;
}

#left-side
{
  width: 40%;
  display: flex;
  flex-direction: column;
}

#right-side
{
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

#fot-logo-side
{
  height: 70%;
}

#copyright
{
  margin-right:5px;
}
